section#banner {
  width: 100%;
  background-color: #fff;
  height: 48px;
  position: relative; }
  section#banner > p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    color: #02b3e4; }
    section#banner > p > a.new-competition {
      border-bottom: 1px solid #02b3e4;
      text-decoration: none;
      color: #02b3e4; }
  section#banner > a.btn-close {
    width: 14px;
    height: 14px;
    background-image: url("../images/close_icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }

section#header {
  width: 100%;
  height: 718px;
  position: relative;
  overflow: hidden; }
  section#header .bgcolor {
    position: absolute;
    width: 100%;
    height: 660px;
    z-index: -1000;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    transform: skew(0deg, -15deg);
    top: -275px;
    left: 0; }
  section#header .header-navbar {
    width: 1180px;
    height: 96px;
    margin: 0 auto;
    position: relative;
    background-color: transparent; }
    section#header .header-navbar > a {
      display: inline-block;
      width: 180px;
      height: 33px;
      background-image: url("../images/logo.png");
      background-size: cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    section#header .header-navbar .header-options {
      display: inline-block;
      height: 36px;
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      section#header .header-navbar .header-options > ul {
        display: inline-block;
        height: 100%;
        line-height: 36px; }
        section#header .header-navbar .header-options > ul > li {
          margin-left: 42px;
          border: none;
          float: left;
          color: white; }
          section#header .header-navbar .header-options > ul > li > a {
            color: white;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            font-size: 14px; }
            section#header .header-navbar .header-options > ul > li > a:hover {
              color: #e6e6e6;
              transition: 0.3s; }
            section#header .header-navbar .header-options > ul > li > a.btn-option {
              width: 124px;
              background-color: #02ccba;
              text-align: center;
              box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
              border: none;
              border-radius: 4px;
              cursor: pointer; }
          section#header .header-navbar .header-options > ul > li.divider {
            font-size: 19px;
            margin-left: 40px;
            font-weight: bold;
            color: rgba(245, 245, 245, 0.4); }

#main {
  width: 100%;
  height: 480px;
  text-align: center;
  float: left; }
  #main .video {
    width: 780px;
    height: 480px;
    display: inline-block;
    position: relative;
    box-shadow: 10px 10px 25px 0 rgba(46, 61, 73, 0.2); }
    #main .video .video-container {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0; }
      #main .video .video-container > video {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 5px; }
    #main .video .video-text {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0; }
      #main .video .video-text .video-text-container {
        width: 100%;
        height: 198px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white; }
        #main .video .video-text .video-text-container > h6 {
          display: inline-block;
          margin: 0;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 2.1px; }
        #main .video .video-text .video-text-container > p {
          display: inline-block;
          font-size: 48px;
          font-family: OpenSans-Light;
          margin: 12px 0 0;
          width: 100%; }
        #main .video .video-text .video-text-container > a.play-icon {
          cursor: pointer;
          display: inline-block;
          margin-top: 36px;
          width: 60px;
          height: 60px;
          background-image: url("../images/play-icon.svg"); }
  #main .card-content {
    display: inline-block;
    width: 380px;
    height: 480px;
    position: relative;
    margin-left: 15px; }
    #main .card-content > ul {
      width: 348px;
      position: absolute;
      right: 0; }
      #main .card-content > ul > li {
        width: 100%;
        height: 144px;
        margin-bottom: 24px;
        background-color: white;
        border-radius: 7px; }
        #main .card-content > ul > li:nth-last-child(1) {
          margin-bottom: 0; }
        #main .card-content > ul > li > a {
          display: inline-block;
          border-radius: 7px;
          text-decoration: none;
          width: 100%;
          transition: 0.3s;
          box-shadow: 10px 10px 25px 0 rgba(46, 61, 73, 0.2); }
          #main .card-content > ul > li > a:hover {
            box-shadow: 3px 3px 10px 0 rgba(46, 61, 73, 0.2); }
          #main .card-content > ul > li > a > img {
            float: left;
            width: 128px;
            height: 144px;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px; }
          #main .card-content > ul > li > a .card-right {
            margin-left: 148px;
            display: block;
            text-align: left;
            letter-spacing: 1px; }
            #main .card-content > ul > li > a .card-right > h6 {
              margin: 0;
              padding: 0;
              margin-top: 20px;
              font-size: 9px;
              transform: scaleY(0.92); }
            #main .card-content > ul > li > a .card-right .top-h6 {
              color: #02ccba; }
            #main .card-content > ul > li > a .card-right .mid-h6 {
              color: #ff5483; }
            #main .card-content > ul > li > a .card-right .bot-h6 {
              color: #02b3e4; }
            #main .card-content > ul > li > a .card-right > h5 {
              margin: 0;
              padding: 0;
              margin-top: 12px;
              font-size: 17px;
              color: #2e3d49;
              transform: scaleY(1.02);
              font-weight: 600; }

#list-company {
  display: inline-block;
  width: 100%;
  height: 142px; }
  #list-company > .list-box {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 0.1px solid #ddd;
    text-align: center;
    line-height: 180px; }
    #list-company > .list-box > img {
      width: 1100px;
      height: 50px; }

#comments {
  width: 100%;
  padding-top: 60px;
  margin-bottom: 50px; }
  #comments > .comments-box {
    width: 1180px;
    margin: 0 auto; }
    #comments > .comments-box > p.top-message {
      padding: 0;
      margin: 0 0 28px;
      text-align: center;
      letter-spacing: 1px;
      font-size: 15px;
      color: #7d97ad; }
  #comments > .comments-quote {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #comments > .comments-quote .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto; }
    #comments > .comments-quote .swiper-slide {
      width: 100%;
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      #comments > .comments-quote .swiper-slide .quote {
        width: 100%;
        padding: 0 130px; }
        #comments > .comments-quote .swiper-slide .quote .quote-1 {
          font-size: 26px;
          font-family: OpenSans-Light;
          font-style: italic; }
        #comments > .comments-quote .swiper-slide .quote .quote-2 {
          margin-top: 12px;
          font-size: 12px;
          letter-spacing: 3px;
          transform: scaleY(0.95);
          font-weight: 600; }
    #comments > .comments-quote .swiper-button-next {
      height: 40px;
      margin-right: 20px;
      background-image: url(../images/right-arrow.svg); }
    #comments > .comments-quote .swiper-button-prev {
      height: 40px;
      margin-left: 20px;
      background-image: url(../images/left-arrow.svg); }
  #comments > .comments-img {
    text-align: center;
    margin-top: 24px; }
    #comments > .comments-img > img {
      width: 106px;
      height: 36px; }

#nanodegree {
  width: 1180px;
  height: 792px;
  margin: 0 auto; }
  #nanodegree .nanodegree-mask > li:nth-child(1) > a.nano-link > .nano-bg {
    color: #02b3e4; }
    #nanodegree .nanodegree-mask > li:nth-child(1) > a.nano-link > .nano-bg > .nano-mask {
      background-color: rgba(2, 179, 228, 0.8); }
  #nanodegree .nanodegree-mask > li:nth-child(2) > a.nano-link > .nano-bg {
    color: #02ccba; }
    #nanodegree .nanodegree-mask > li:nth-child(2) > a.nano-link > .nano-bg > .nano-mask {
      background-color: rgba(2, 204, 186, 0.8); }
  #nanodegree .nanodegree-mask > li:nth-child(3) > a.nano-link > .nano-bg {
    color: #a951ed; }
    #nanodegree .nanodegree-mask > li:nth-child(3) > a.nano-link > .nano-bg > .nano-mask {
      background-color: rgba(169, 81, 237, 0.8); }
  #nanodegree .nanodegree-mask > li:nth-child(4) > a.nano-link > .nano-bg {
    color: #7d97ad; }
    #nanodegree .nanodegree-mask > li:nth-child(4) > a.nano-link > .nano-bg > .nano-mask {
      background-color: rgba(125, 151, 173, 0.8); }
  #nanodegree .nanodegree-mask > li:nth-child(5) > a.nano-link > .nano-bg {
    color: #ffa234; }
    #nanodegree .nanodegree-mask > li:nth-child(5) > a.nano-link > .nano-bg > .nano-mask {
      background-color: rgba(255, 162, 52, 0.8); }
  #nanodegree .nanodegree-mask > li:nth-child(6) > a.nano-link > .nano-bg > .nano-mask {
    background-color: rgba(255, 84, 131, 0.8); }
  #nanodegree > ul.nanodegree-list > li {
    width: 348px;
    height: 360px;
    float: left;
    margin-right: 68px; }
    #nanodegree > ul.nanodegree-list > li:nth-child(3n) {
      margin-right: 0; }
    #nanodegree > ul.nanodegree-list > li:nth-child(n+4) {
      margin-top: 68px; }
    #nanodegree > ul.nanodegree-list > li a.nano-link {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      border-radius: 7px;
      box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
      transition: 0.3s; }
      #nanodegree > ul.nanodegree-list > li a.nano-link:hover {
        box-shadow: 3px 3px 10px 0 rgba(46, 61, 73, 0.2); }
      #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-bg {
        height: 156px;
        position: relative; }
        #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-bg > img {
          position: absolute;
          top: 0;
          z-index: -1000;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px; }
        #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-bg > .nano-mask {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px; }
        #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-bg > .nano-new {
          position: absolute;
          margin-left: 12px;
          margin-top: 8px;
          letter-spacing: 1px;
          font-size: 14px;
          line-height: 14px;
          transform: scaleY(0.97);
          background-color: white;
          padding: 4px 6px;
          border-radius: 3px; }
      #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-msg {
        height: 132px; }
        #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-msg > p {
          margin: 0;
          font-size: 24px;
          height: 84px;
          padding: 24px 32px;
          color: #2e3d49; }
      #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-company {
        height: 74px;
        position: relative; }
        #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-company > ul.nano-company-img {
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 0 32px; }
          #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-company > ul.nano-company-img > li {
            float: left;
            margin-right: 20px; }
            #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-company > ul.nano-company-img > li:nth-last-child(1) {
              margin-right: 0; }
            #nanodegree > ul.nanodegree-list > li a.nano-link > .nano-company > ul.nano-company-img > li > img {
              height: 36px; }

#offerings {
  width: 1180px;
  height: 60px;
  margin: 48px auto;
  position: relative; }
  #offerings > a {
    position: absolute;
    display: inline-block;
    width: 267px;
    height: 100%;
    line-height: 60px;
    right: 0;
    text-decoration: none;
    color: #02b3e4;
    font-size: 24px; }
    #offerings > a > span {
      float: right;
      height: 60px;
      width: 60px;
      background-color: #02b3e4;
      border-radius: 50%;
      text-align: center;
      box-shadow: 10px 10px 25px 0 rgba(46, 61, 73, 0.2); }
      #offerings > a > span > p {
        transform: scaleY(2.3);
        font-size: 20px;
        color: white;
        margin: 0;
        padding: 0; }

#advantage {
  width: 1180px;
  margin: 0 auto; }
  #advantage .adv-title {
    margin: 0;
    padding-top: 72px;
    font-size: 32px;
    text-align: center;
    font-family: OpenSans-Light;
    color: #02b3e4; }
  #advantage .adv-size {
    height: 480px; }
    #advantage .adv-size .adv-box {
      height: 100%;
      width: 590px;
      box-sizing: border-box;
      float: left; }
    #advantage .adv-size .adv-text {
      padding: 100px; }
      #advantage .adv-size .adv-text .adv-icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 10px 10px 25px 0 rgba(46, 61, 73, 0.2);
        position: relative; }
        #advantage .adv-size .adv-text .adv-icon .adv-icon2 {
          width: 100%;
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translateY(-50%); }
      #advantage .adv-size .adv-text > p.color-text {
        margin: 24px 0 0;
        font-size: 28px;
        font-family: OpenSans-Light;
        color: #02b3e4; }
      #advantage .adv-size .adv-text > p.normal-text {
        margin: 12px 0 0;
        font-family: OpenSans-Light;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.3px;
        transform: scaleY(0.96); }
    #advantage .adv-size .adv-pic {
      position: relative; }
      #advantage .adv-size .adv-pic > img {
        box-shadow: 10px 10px 25px 0 rgba(46, 61, 73, 0.2); }
      #advantage .adv-size .adv-pic > img.adv-img1 {
        position: absolute;
        right: 0;
        top: 70px; }
      #advantage .adv-size .adv-pic > img.adv-img2 {
        position: absolute;
        width: 380px;
        height: 253px;
        left: 0;
        bottom: 0; }
      #advantage .adv-size .adv-pic > img.adv-img3 {
        position: absolute;
        width: 353px;
        height: 236px;
        left: 0;
        top: 70px; }
      #advantage .adv-size .adv-pic > img.adv-img4 {
        position: absolute;
        right: 100px;
        bottom: 90px;
        width: 380px;
        height: 161px; }
      #advantage .adv-size .adv-pic > img.adv-img5 {
        position: absolute;
        width: 481px;
        height: 330px;
        right: 0;
        top: 20px; }
      #advantage .adv-size .adv-pic > img.adv-img6 {
        position: absolute;
        width: 325px;
        height: 209px;
        left: 0;
        bottom: 70px; }
    #advantage .adv-size .adv-box-2 {
      padding-left: 0;
      padding-top: 70px;
      padding-right: 200px; }
      #advantage .adv-size .adv-box-2 > p.color-text {
        color: #ff5483; }
    #advantage .adv-size .adv-box-3 {
      padding-right: 80px; }
      #advantage .adv-size .adv-box-3 > p.color-text {
        color: #a951ed; }

#program {
  width: 100%;
  height: 336px; }
  #program .program-box {
    width: 1180px;
    height: 192px;
    margin: 0 auto;
    padding: 72px 0; }
    #program .program-box > a {
      width: 578.2px;
      display: inline-block;
      height: 100%;
      float: left; }
      #program .program-box > a.program-margin-right {
        margin-right: 23.6px; }
    #program .program-box .program-content {
      width: 578.2px;
      height: 100%;
      box-sizing: border-box;
      float: left;
      position: relative;
      box-shadow: 10px 10px 25px 0 rgba(46, 61, 73, 0.2);
      border-radius: 5px; }
      #program .program-box .program-content .program-icon {
        width: 138px;
        position: absolute;
        display: inline-block;
        text-align: center;
        top: 50%;
        transform: translateY(-50%); }
      #program .program-box .program-content .program-text {
        width: 428.2px;
        height: 100%;
        position: absolute;
        right: 0; }
        #program .program-box .program-content .program-text .program-color-text {
          margin: 50px 0 0;
          font-size: 24px; }
        #program .program-box .program-content .program-text .program-normal-text {
          margin: 12px 0 0;
          font-size: 14px;
          padding-right: 60px;
          color: #525c65;
          line-height: 24px; }
        #program .program-box .program-content .program-text .color-text1 {
          color: #02b3e4; }
        #program .program-box .program-content .program-text .color-text2 {
          color: #15c26b; }

#contact {
  width: 100%;
  height: 360px;
  box-sizing: border-box;
  background-image: url("../images/contact-cover.jpg");
  background-size: cover; }
  #contact .contact-box {
    width: 1180px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    color: white;
    text-align: center; }
    #contact .contact-box > p.contact-us {
      display: inline-block;
      text-align: center;
      font-family: OpenSans-Light;
      font-size: 40px;
      margin-bottom: 0;
      margin-top: 60px; }
    #contact .contact-box > p.contact-text {
      width: 50%;
      font-size: 18px;
      margin: 0 auto;
      text-align: center;
      margin-top: 24px;
      line-height: 33px; }
    #contact .contact-box > a {
      display: inline-block;
      color: white;
      text-decoration: none;
      width: 220px;
      height: 48px;
      background-color: #02b3e4;
      font-size: 14px;
      transform: scaleY(0.95);
      letter-spacing: 1.3px;
      line-height: 45px;
      border-radius: 5px;
      margin-top: 48px;
      transition: 0.3s; }
      #contact .contact-box > a:hover {
        background-color: #029fcb; }

#bottom {
  width: 100%;
  padding-top: 72px;
  height: 709px;
  background-image: linear-gradient(to bottom right, #F7F7F7, #EAFBFF); }
  #bottom .bottom-box {
    width: 1180px;
    margin: 0 auto;
    box-sizing: border-box; }
    #bottom .bottom-box .bottom-logo {
      height: 60px;
      box-sizing: border-box;
      position: relative; }
      #bottom .bottom-box .bottom-logo > a {
        left: 0;
        top: 0;
        width: 43px;
        height: 43px;
        margin-left: -7px;
        position: absolute; }
      #bottom .bottom-box .bottom-logo > img {
        width: 43px;
        height: 43px;
        margin-left: -7px; }
    #bottom .bottom-box .site-map {
      height: 384px;
      box-sizing: border-box;
      border-bottom: 1px solid #dbe2e8; }
      #bottom .bottom-box .site-map ul.site-map-ul {
        height: 100%; }
        #bottom .bottom-box .site-map ul.site-map-ul > li {
          display: inline-block;
          width: 186.83333px;
          height: 100%;
          box-sizing: border-box;
          float: left;
          margin-right: 14.75px; }
          #bottom .bottom-box .site-map ul.site-map-ul > li.site-map-left {
            width: 280.25px; }
          #bottom .bottom-box .site-map ul.site-map-ul > li:nth-last-child(1) {
            margin-right: 0; }
          #bottom .bottom-box .site-map ul.site-map-ul > li > ul.site-item {
            margin-bottom: 36px; }
            #bottom .bottom-box .site-map ul.site-map-ul > li > ul.site-item > li {
              margin-bottom: 10px; }
              #bottom .bottom-box .site-map ul.site-map-ul > li > ul.site-item > li > a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                color: #525c65;
                font-size: 13px;
                line-height: 14px;
                transition: 0.3s; }
                #bottom .bottom-box .site-map ul.site-map-ul > li > ul.site-item > li > a:hover {
                  color: black; }
              #bottom .bottom-box .site-map ul.site-map-ul > li > ul.site-item > li:nth-child(1) {
                margin-bottom: 13px; }
                #bottom .bottom-box .site-map ul.site-map-ul > li > ul.site-item > li:nth-child(1) > a {
                  font-size: 13px;
                  color: #7d97ad;
                  font-weight: bold; }
    #bottom .bottom-box .site-map2 {
      height: 49px;
      box-sizing: border-box; }
      #bottom .bottom-box .site-map2 .site-map2-box {
        width: 590px;
        height: 100%;
        float: left; }
        #bottom .bottom-box .site-map2 .site-map2-box .site-map2-left {
          line-height: 49px; }
          #bottom .bottom-box .site-map2 .site-map2-box .site-map2-left > a:hover {
            color: black; }
          #bottom .bottom-box .site-map2 .site-map2-box .site-map2-left .site-map2-left-item {
            display: inline;
            margin-right: 36px;
            text-decoration: none;
            color: #525c65;
            transition: 0.3s; }
          #bottom .bottom-box .site-map2 .site-map2-box .site-map2-left > p {
            margin: 0;
            font-size: 14px; }
        #bottom .bottom-box .site-map2 .site-map2-box .site-map2-right {
          height: 100%; }
          #bottom .bottom-box .site-map2 .site-map2-box .site-map2-right > ul {
            float: right;
            display: inline-block;
            width: 280px;
            height: 100%;
            line-height: 49px; }
            #bottom .bottom-box .site-map2 .site-map2-box .site-map2-right > ul > li {
              width: 46.66667px;
              float: left;
              box-sizing: border-box;
              text-align: center; }
              #bottom .bottom-box .site-map2 .site-map2-box .site-map2-right > ul > li > img {
                width: 24px;
                height: 24px;
                vertical-align: middle; }
          #bottom .bottom-box .site-map2 .site-map2-box .site-map2-right .selector {
            width: 180px;
            height: 100%;
            border: 1px solid green;
            float: right; }
    #bottom .bottom-box .small-text {
      width: 780px;
      height: 48px;
      margin: 0 auto;
      box-sizing: border-box;
      margin-top: 24px; }
      #bottom .bottom-box .small-text > p {
        text-align: center;
        margin: 0;
        font-size: 9px;
        line-height: 11px;
        color: #525c65; }
        #bottom .bottom-box .small-text > p:nth-child(1) {
          margin-bottom: 12px; }

/*# sourceMappingURL=index.nested.css.map */